* { /* debug */
    border: 1px solid black;
}

#TopBar {
    ul {
        position: sticky;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

        display: flex;
    }

    li {
        text-align: center;
        a {
            display: block;

            :hover {

            }
            .active {

            }
        }
        p {
            display: block;
        }
    }
}





.f {
    font-size: smaller;
    font-style: italic;
}
