* { /* debug */
    border: 1px solid black;
}

#TopBar {
    display: flex;

    #TBarLeft {
        display: flex;
    }
    #TBarCenter {
        display: flex;

        h1 {
            font-size: 1em;
            padding: 0;
        }
    }
    #TBarRight {
        display: flex;
    }
}





.f {
    font-size: smaller;
    font-style: italic;
}
