* {
    background-color: #14181f;
    color: #e6e6e6;

      font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

#TopBar {
    margin: 0;
    padding: 0;
    position: sticky;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

        display: flex;
        text-align: center;
        background-color: #14181f;
    }

    li {
        
        a {
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
        }

        a:hover {
            background-color: #1f242e;
        }
        a.active {
            background-color: #29303d;
        }
        p {
            display: block;
        }
    }
}





.f {
    font-size: smaller;
    font-style: italic;
}
