
main {
    display: flex;


    #posts {
        width: 80%;
        height: 100%;
    }

    article {
        border: 1px solid #cccccc;
        margin: 20px 5px;

        border-radius: 15px;

        h2 {

            font-weight: bold;

            text-align: left;

            text-decoration: none;
            padding: 0;

            margin-top: 10px;
            margin-bottom: 0;

            margin-left: 5px;

            color: e6e6e6;

        }

        h3 {

            font-weight: bold;
            text-align: left;

            text-decoration: none;
            padding: 0;

            color: #888888;

            margin: 0 5px;
        }

        img {
            padding: 0;
            margin-left: 0;
            margin-top: 10px;

            border-radius: 15px;
        }

        p {

            color: #cccccc;
            text-align: justify;
            border-radius: 10px;
            border: 1px solid #888888;
            padding: 10px;
            margin: 5px;
        }
    }


    #sideNav {

        width: 20%;
        height: 100%;
    }
}