/* CE FICHIER EST COMMUN AUX FICHIERS "message.html" ET "devis.html" */

body {
    background-color: black;
}

.message {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.devis {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.bouton_retour {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        width: 200px;
        height: 100px;

        border-radius: 15px;
        border: 3px solid #29303d;
        background-color: #1f242e;
        color: #e6e6e6;
        font-size: 18;

        
    }
    button:hover {
        transform: scale(1.1);
        transition-duration: 0.5s;
    }
}
