/* CE FICHIER EST COMMUN AUX FICHIERS "message.html" ET "devis.html" */

body {
    background-color: black;
}

.message {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.devis {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

button {
    
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 150px;
    height: 100px;
    margin: auto;
    color: white;
    background-color: #14181f;
    border: solid;
    border-color: white;
    border-radius: 10px;

}

button:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}