/**/

.karmann {

    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: #e6e6e6;
    border-width: 3px;
    
}

fieldset {
    margin: 10px;
    border-radius: 15px;
}